.presentation-list .date {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.presentation-list small {
    padding-left: 5px;
}

@media (max-width: 767px) {
    .presentation-list .date {
        display: block;
    }

    .presentation-list small {
        display: block;
        padding-left: 0;
    }
}

ul#blog-list {
    padding-left: 0;
    list-style: none;
}
